* {
    padding: 0;
    margin: 0;
}

html, body, .home-banner{
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url("../fotos/backdrop2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.navbar-menu {
    color: white;
    font-size: 1.1rem;
}

.navbar-menu:hover {
    color: yellow;
    font-size: 1.2rem;
}

.navbar-toggler {
    border: 0 !important;
}

.nav-link:hover {
    color: yellow !important;
}

.home-banner, #logo {
    border-radius: 1000px;
    max-width: 450px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f6f6ff;
    color: white;
    text-align: center; 
}

.footer > p {
    color: black;
    margin: 0;
}

.list-group-item {
    background-color: #f6f6ff !important;
    border: 0 !important;
}

a > img {
    max-width: 40px;
}