* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

html, body, .home-banner{
    height: 100%;
    overflow: scroll
}

body {
    background-image: url("../fotos/backdrop2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.navbar {
    z-index: 1;
}

.navbar-menu {
    color: white;
    font-size: 1.1rem;
}

.navbar-menu:hover {
    color: yellow;
    font-size: 1.2rem;
}

.navbar-toggler {
    border: 0 !important;
}

.nav-link:hover {
    color: yellow !important;
}

.home-banner, #logo {
    border-radius: 100px;
    min-width: 297px;
}

.brown-logo {
    min-width: 150px !important;
    padding-bottom: 30px;
    padding-top: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; 
}

.footer > p {
    margin: 0;
}

.list-group-item {
    background-color: #212529 !important;
    border: 0 !important;
}

a > img {
    max-width: 40px;
}

.banner {
    background-color: #deb887;
    margin-top: 80px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.banner > h1 {
    color: #7b3911;
    margin-top: -30px;
    font-weight: bold;
    padding-left: 26px;
}

.banner > p {
    color: #7b3911;
    padding-left: 15px;
}

.contenido {
    background-color: #deb887;
}

main {
    max-width: 90%;
    margin-top: 40px;
    margin-bottom: 80px;
}

.col-md-6 {
    background-color: #deb887;
    color: #7b3911;
}

.card {
    border: 0 !important;
    background-color: #deb887 !important;
}

.card-title {
    font-weight: bold;
}

.divider {
    margin: 35px 0;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
            .divider {
                    width: 80vw;
                }
            .conocenos-lista {
                width: 83vw;
            }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
        .divider {
                width: 83vw;
            }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
        div.general-card-body {
                width: 750px;
            }
        .divider {
            width: 85vw;
        }
}

.conocenos-lista {
    color: #7b3911;
}

.conocenos-lista > h3 {
    font-weight: bold;
}

.conocenos-links {
    text-decoration: none;
}

.conocenos-links:link {
    color: #4169e1;
}

.conocenos-links:visited {
    color: darkblue
}

.conocenos-links:hover {
    color: yellow
}

.conocenos-links:active {
    color: red;
}

span {
    color: yellow;
}