* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

html, body, .home-banner{
    height: 100%;
    overflow: scroll
}

body {
    background-image: url("../fotos/backdrop2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.navbar-menu {
    color: white;
    font-size: 1.1rem;
}

.navbar-menu:hover {
    color: yellow;
    font-size: 1.2rem;
}

.navbar-toggler {
    border: 0 !important;
}

.nav-link:hover {
    color: yellow !important;
}

.home-banner, #logo {
    border-radius: 1000px;
    max-width: 450px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f6f6ff;
    color: white;
    text-align: center; 
}

.footer > p {
    margin: 0;
}

.list-group-item {
    background-color: #212529 !important;
    border: 0 !important;
}

a > img {
    max-width: 40px;
}

.banner {
    background-color: #deb887;
    margin-top: 80px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.banner > h1 {
    color: #7b3911;
    margin-top: -30px;
    font-weight: bold;
}

.banner > p {
    color: #7b3911;
}

.contenido {
    background-color: #deb887;
}

main {
    max-width: 90%;
    margin-top: 40px;
    margin-bottom: 80px;
}

.col-md-6 {
    background-color: #deb887;
    color: #7b3911;
}

.card {
    border: 0 !important;
}

.card-title {
    font-weight: bold;
}